<!doctype html>
<html>
<head>
  <title>My Hiking App</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="static/styles.css">
</head>

<body>
  <h4>
    <a href="/">My Hiking App</a>
    <span class="logout" style="float:right">
        {%if "id" not in session %}
            <a href="/SignIn">SignIn</a> &nbsp; <a href="/SignUp">/ SignIn</a>
        {% else %}
            <a href="/logout">Logout</a>
        {% endif%}
    </span>
  </h4>
  <hr>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}

  {% block content %} put your content here {% endblock %}

</body>
</html>
