{% extends 'base.html' %}
{% block content %}

<style>

body {
     margin: 0;
     padding: 0;
     background: url("/static/images/pexels-photo-915972.jpeg");
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     font-family: sans-serif;

   }

   h1,h3 {
    font-family: sans-serif;
    color: #00005c;
   }

.buttons{
    width: 280px;
    margin: auto;
    margin-top: 50px;
}

#left-button{
    margin-right: 40px;
}
#right-button{
    margin-right: 20px;
    float: right;
}

</style>

<div class="container-fluid">
    <!-- <div id="landing-page"> -->
      
<!-- Have Two Buttons to get started Sign In and Sign up --> 
    <!-- <div class="row">
        <div class="col-xs-6 text-center">
            <a href="/SignIn" class="btn btn-info" role="button">Sign In</a>
        </div>
         <div class="col-xs-6">
             <a href="/SignUp" class="btn btn-info" role="button">Sign Up</a>
        </div>
    </div> -->

    <h3><center>On your mark, get set, go! GoHike! </center></h3>


    <div class="buttons">
        <a href="/SignIn" id="left-button" type="button" class="btn btn-lg btn-info">Sign In</a>
        <a href="/SignUp" id="right-button" type="button" class="btn btn-lg btn-info">Sign Up</a>
    </div>
    
 </div> 

    <!-- </div> -->

{% endblock %}
