{% extends 'base.html' %}
{% block content %}
<style>
/*body {
     margin: 0;
     padding: 0;
     background: url("/static/images/pexels-photo-519403.jpeg");
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     font-family: sans-serif;

   }*/

</style>


<h3><center>Sign In</center></h3>


 <div class="container">
<form action="/SignIn", method="POST">
    <div class="form-group row" >
       
            <div class="col-xs-4 col-xs-offset-4">
                <label for="inputEmail">Enter your email:</label>
                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Enter your email here" required autofocus>
                <br>
                <label for="inputPassword">Enter your password:</label>
                <input type="password" class="form-control" id="inputPassword" name="password"  placeholder="Enter your password here" required>

                <input type="submit" class="btn btn-info" value="Sign In" style="margin-top: 25px">
            </div>

    </div>
</form>
</div>
{% endblock %}
