{% extends 'base.html' %}
{% block content %}

<style>
body {
     margin: 0;
     padding: 0;
     background: url("/static/images/pexels-photo-519403.jpeg");
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     font-family: sans-serif;

   }

</style>


<h3><center>Search Trails</center></h3>

{%if "id" not in session %}
        <a href="/SignIn"> You are not Signed In. Please Sign In to search your trails</a>

{% else %}

<div class="container">
<form action="/search", method="POST">

    <div class = "search-form">
    <div class="row">
    <div class="col-xs-3 col-xs-offset-3">
        <label for="inputZipcode">Enter your zipcode:</label>
        <input type="text" class="form-control" name="zipcode" placeholder="Enter your zipcode here" autofocus> 
    </div>

    <div class="col-xs-3">
        <label for="inputLocation">Enter your location:</label> 
        <input type="text" class="form-control" name="location" placeholder="Enter known Location here" id="autocomplete"/>
    </div> 
    </div>

    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
    <div class="form-group search">
        <label for="inputZip">Select the number of trails you want to see in your search:</label>
        <input type="number" class="form-control" name="trail_num" placeholder="choose number of trails to be shown" step="10" min="10" max="100">
    </div> 
    </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Find Trails">
    </div>
    </div>
    </div>
</div>
</form>


<div class="visited-hikes">

    {% if trail_list|length != 0 %}
    
        <h4>{{user.name}} , your frequently visited trails are: <h4>
            {%for trail in trail_list%}
                <h4> <a href= "{{trail.url}}" target="_blank"> {{trail.name}} </a>  {{trail.length}} miles 
            {% endfor %}

    {% endif %}
</div>
</div>

{% endif %}

 <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en"></script>

 <script>
      var input = document.getElementById('autocomplete');
      var autocomplete = new google.maps.places.Autocomplete(input);
</script>

{% endblock %}

