{% extends 'base.html' %}
{% block content %}

<h2>Search Trails</h2>

{%if "id" not in session %}
        <a href="/SignIn"> You are not Signed In. Please Sign In to search your trails</a>

{% else %}
<form action="/search", method="POST">
    <div>
        <input type="text" name="zipcode" placeholder="Enter your zipcode here">
    &nbsp;&nbsp;&nbsp; OR &nbsp;&nbsp;&nbsp; <input type="text" name="location" placeholder="Enter known Location here" id="autocomplete"/>
    </div><br>
    <div>
        Select the number of trails you want to see in your search: <input type="number" name="trail_num" step="10" min="10" max="100">
    </div><br>
    
    <input type="submit" value="Find Trails">
</form>

{% endif %}

 <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en"></script>

 <script>
      var input = document.getElementById('autocomplete');
      var autocomplete = new google.maps.places.Autocomplete(input);
</script>

{% endblock %}

