{% extends 'base.html' %}
{% block content %}

<h2>Search Form</h2>

{%if "id" not in session %}
        <a href="/SignIn"> You are not Signed In. Please Sign In to search your trails</a>

{% else %}
<form action="/search", method="POST">
    <div>
        <input type="text" name="zipcode" placeholder="Enter your zipcode here">
    </div>
    <div>
        <input type="number" name="trail_num" step="10" min="10" max="100">
    </div>
    
    <input type="submit" value="Find Trails">
</form>

{% endif %}

{% endblock %}

