{% extends 'base.html' %}
{% block content %}



        {%if "id" in session %}
            <a href="/search">You are all set! Start searching your hikes! </a> 

        {% else %}

            <h2>SignUp Form</h2>
        

            <form action="/SignUp", method="POST">
            <div>
                <input type="email" name="email" placeholder="Enter your email" required>
            </div> <br>
            <div>
                <input type="password" name="password" placeholder="Enter your password" required>
            </div> <br>
            <div>
                <input type="text" name="name" placeholder="Enter your name" required>
            </div> <br>
            <div>
                <input type="text" name="zip" placeholder="Enter your zipcode (optional)">
            </div> <br>
                <input type="submit" value="Sign Up">
            </form>

        {% endif%}

{% endblock %}
