{% extends 'base.html' %}
{% block content %}



        {%if "id" in session %}
            <a href="/search">You are all set! Start searching your hikes! </a> 

        {% else %}

            <h2><center>Sign Up</center></h2>
        
            <div class="container">
                <form action="/SignUp", method="POST">
                <!-- <div class="form-group"> -->


                    <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                    <div class="form-group">
                        <label for="inputEmail">Please enter email:</label>
                        <input type="email" class="form-control" name="email" placeholder="Enter your email" required autofocus>
                    </div> 
                    </div>
                    </div>


                     <div class="row">
                     <div class="col-xs-6 col-xs-offset-3">
                     <div class="form-group">
                        <label for="inputPassword">Please enter password:</label>
                        <input type="password" class="form-control" name="password" placeholder="Enter your password" required>
                    </div> 
                    </div>
                    </div>


                    <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                    <div class="form-group">
                        <label for="inputName">Please enter User name:</label>
                        <input type="text" name="name" class="form-control" placeholder="Enter your name" required>
                    </div> 
                    </div>
                    </div>


                    <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                    <div class="form-group">
                        <label for="inputZip">Please enter zipcode:</label>
                        <input type="text" name="zip" class="form-control" placeholder="Enter your zipcode (optional)">
                    </div> 
                    </div>
                    </div>
                        

                    <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Sign Up">
                    </div>
                    </div>
                    </div>

                <!-- </div> -->
            </form>
        </div>

        {% endif%}

{% endblock %}
