{% extends 'base.html' %}
{% block content %}
<style>
/*body {
     margin: 0;
     padding: 0;
     background: url("/static/images/pexels-photo-519403.jpeg");
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     font-family: sans-serif;

   }*/

</style>



        {%if "id" in session %}
            <a href="/search">You are all set! Start searching your hikes! </a> 

        {% else %}

            <h3><center>Sign Up</center></h3>
        
            <div class="container">
                <form action="/SignUp", method="POST">
                <!-- <div class="form-group"> -->


                    <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                    <div class="form-group">
                        <label for="inputEmail">Enter your contact email:</label>
                        <input type="email" class="form-control" name="email" placeholder="Enter your email" required autofocus>
                    </div> 
                    </div>
                    </div>


                     <div class="row">
                     <div class="col-xs-6 col-xs-offset-3">
                     <div class="form-group">
                        <label for="inputPassword">Choose a password:</label>
                        <input type="password" class="form-control" name="password" placeholder="Enter your password" required>
                    </div> 
                    </div>
                    </div>


                    <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                    <div class="form-group">
                        <label for="inputName">Choose a username:</label>
                        <input type="text" name="name" class="form-control" placeholder="Enter your name" required>
                    </div> 
                    </div>
                    </div>


                    <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                    <div class="form-group">
                        <label for="inputZip">Enter your zipcode:</label>
                        <input type="text" name="zip" class="form-control" placeholder="Enter your zipcode (optional)">
                    </div> 
                    </div>
                    </div>
                        

                    <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                    <div class="form-group">
                        <input type="submit" class="btn btn-info" value="Sign Up">
                    </div>
                    </div>
                    </div>

                <!-- </div> -->
            </form>
        </div>

        {% endif%}

{% endblock %}
