{% extends 'base.html' %}
{% block content %}

  <h3>Welcome, {{user.name}}!</h3> 

 <h2>Your Hike List</h2>


 <div class='hike-div'>
    {% if user.usertrails|length == 0 %}
    <h4>No Hikes yet.</h4>
    <h4><a href="/search">Plan your Hikes</a>
    {% else %}
      
        <div class="container-fluid">
            <table class="table table-hover">
                <tr>
                    <th>Trail Name</th>
                    <th>Trail URL</th> 
                    <th>Trail Length (miles) </th>
                    <th>Date</th>
                    <th>Comments</th>
                    <th>Your Rating</th>
                    <th>Overall Rating</th>
                    <th>Recommend</th>
                </tr>
                
                {% for usertrail in user.usertrails %}
                <tr>
                     {% for hike in usertrail.hikes %}
                        <input id="hike-comment" data-hike-id="{{ hike.hike_id }}" hidden>
                     {% endfor %}


                    <td>{{usertrail.trail.name}}</td>
                    <td><a href= "">{{usertrail.trail.url}}</a></td>
                    <td>{{usertrail.trail.length}}</td>
                    <td>{% for hike in usertrail.hikes %}
                            {{hike.date}}
                        {% endfor %}</td>
                    <td id="td-{{ usertrail.trail.trail_id }}">

                        {% for hike in usertrail.hikes %}
                            {% if not hike.comments %}
                            <span class="comment-span">
                            <input type="text" name="comments" placeholder="add your comments here" id="comments-{{ usertrail.trail.trail_id }}">
                            <button class="comment-it" data-trail-id="{{ usertrail.trail.trail_id }}" data-hike-id="{{ hike.hike_id }}" >Add</button>
                            </span><br>

                        {% else %}
                            {% for hike in usertrail.hikes %}
                                <span class="edit-comment"> {{hike.comments}} 
                                <!-- <input id="get-edit-comment" value="{{hike.comments}}" hidden>-->
                                <button class="edit-it" data-trail-id="{{ usertrail.trail.trail_id }}">Edit</button>
                                </span>
                            {% endfor %}    
                        {% endif %}</td>
                        {% endfor %}

                    <td>{% for hike in usertrail.hikes %}
                            {% if not hike.u_rating%}
                                 <span class="rating-span">
                                 <input type="number" name="your-rating" step="0.5" min="1" max="5" data-hike-id="{{ hike.hike_id }}">
                                 <button class="rate-it" data-trail-id="{{ usertrail.trail.trail_id }}" data-hike-id="{{ hike.hike_id }}" > Rate </button>
                                 </span>
                            {% else %}
                                {% for hike in usertrail.hikes %}
                                    <span class="final rating"> {{hike.u_rating}} 
                                {% endfor %}
                            {% endif %}

                        {% endfor%} </td>

                    <td>{{ usertrail.rating }}</td>

                    <td><button class="recommend-it" data-trail-id="{{ usertrail.trail.trail_id }}" > Recommend </button></td>

                </tr>
                {% endfor %}
                
            </table>
    </div>
      
    {% endif %}
 </div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
  "use strict";

  /* Add Comments  */
  function showInfo(results){

    console.log("hi")
  }

  function getInfo(evt){
    evt.preventDefault();

    let inputId = $(this).data("trailId");
    let comments = $(this).prev().val();
    let hikeId = $(this).data("hike-id");

    console.log(comments);

    var formInputs = {
        "trail_id": inputId,
        "comments": comments,
        "hike_id": hikeId
    }
    
    $.post("/add-trails-comment",formInputs, showInfo);

    $(this).attr("class", "edit-it")
    $(this).html("Edit")
    $(this).prev().remove()    
    $(this).before("<span>" +comments+ "</span>")

  }


  /*$(".comment-it").on('click', getInfo);*/
 $(document).on('click', ".comment-it", getInfo)

   /* Now Edit Comments  */
  function showComment(results){
    console.log("hi")
    
  }

  function getComment(evt){
    evt.preventDefault();

    var old_comments = $(this).prev().text();
    $(this).prev().remove();
    $(this).before("<input type='text'>");
    $(this).prev().val(old_comments);
    $(this).attr("class", "comment-it");
    $(this).html("Add");
    var comments = $(this).prev().val()
    console.log(comments)
    let hikeId = $(this).data("hike-id");
    
    var formInputs = {
        "trail_id": $(this).data('trail-id'),
        "comments": comments,
        "hike_id": hikeId
    }


    $.post("/add-trails-comment",formInputs, showComment);


  }

  $(document).on('click', ".edit-it", getComment)


 /* Add Rating */

 function showRating(results){
    console.log("rating print")
 }

 function getRating(evt){
    evt.preventDefault();

    let rating = $(this).prev().val()
    let hikeId = $(this).data("hike-id");

    console.log(rating)

    var formInputs = {
        "u_rating":rating,
        "hike_id": hikeId
    }

    $.post("/add-rating", formInputs, showRating);


 }

 $(".rate-it").on('click', getRating)




</script>

 <script src=
  "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js">
    </script>
    <canvas id="bar-chart" width="800" height="250"></canvas> 

 <script>
    "use strict";
    // Bar chart
    new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
      labels: ["January", "February", "March", "April", "May", "June"],
      datasets: [
        {
          label: "number of hikes",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: {{ hike_num_list }}
        },
        {
          label: "total miles hiked",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: {{ hike_len_list }}
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Number of hikes in each month'
      }
    }
});

</script>  


{% endblock %}

